* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

header {
    background-color: blueviolet;
    height: 75px;
    width: 100%;
    text-align: center;
}

/* media query tablet */

@media only screen and (min-width:600px){

    header {
        background-color: red;
        height: 75px;
    }
    
}
    /* media query desktop */
    @media only screen and (min-width:1000px) {

    header {
        background-color: greenyellow;
        height: 75px;
    }

}